version: '2'

services:
  redis:
    image: registry.drycc.cc/drycc-addons/redis:7.0
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - 'redis_data:/drycc/redis/data'

volumes:
  redis_data:
    driver: local
